.selectedRow {
	background-color: #1EECFF;
	border: 2px solid;
}

.unselectedRow:nth-child(odd) {
	background-color: #BDEBF8;
}
.unselectedRow {
	background-color: #99CCFF;
}
.unselectedNewRow {
	background-color: #CCCCCC;
}

div.row {
	padding: 10px;
}